/* FONTS */
/* Frank Ruhl Libre normal */
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&family=Poppins:wght@500&display=swap');
/* Atma */
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@500&family=Poppins:wght@500&display=swap');
/* Amarante */
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

:root {
  font-family: 'Frank Ruhl Libre', serif;
  font-family: 'Poppins', sans-serif;

  --FontFirst: 'Atma', cursive;
  --FontSecond: 'Amarante', cursive;
  --RedColor: red; 
}

