.erreur{
    background-color: #625454;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 15rem;
}

.messageErreur{
    background-color: #DBDAC0;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 9rem;
    width: 14rem;
}