.erreur{
    background-color: #625454;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 25rem;
}

.messageErreur{
    background-color: var(--ColorThree);
    display: flex;
    flex-flow: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 19rem;
    width: 24rem;
    font-size: larger;
}

.button{
    border: none;
    background-color: var(--ColorTwo);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
}