.LayoutContent{
    background-color: var(--ColorTwo);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.Content{
    background-color: var(--ColorThree);
    min-height: 800px;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

@media (min-width: 800px){
    .Content{
     margin: 0 5rem;
    }
}

footer{
    background-color: var(--ColorOne);
    min-height: 5rem;
}