.LayoutContent{
    background-color: var(--ColorTwo);
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.Content{
    background-color: var(--ColorThree);
    margin: 0 5rem;
    min-height: 800px;
    padding: 1rem;

    display: flex;
    justify-content: center;
}

footer{
    background-color: var(--ColorOne);
    min-height: 5rem;
}