.Pokemon {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    text-align: center; 
  }
  
  .SectionTitle {
    font-size: 24px;
    color: #e91e63;
    margin: 20px 0; 
  }
  
  .Paragraph {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
    padding: 0 20px; 
  }
  
  .PokemonImage {
    max-width: 50%; 
    display: block;
    margin: 20px auto; 
  }
  
  
  .background-image {
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: top; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3; 
    z-index: 1000; 
  }
  