.frameOutils{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    margin: 0 20%;
    > h1{
        text-decoration: underline;
        margin: 5% 0;
    }
    > h2{
        margin: 5% 0;
    }
}