header{
    display: flex;
    align-items: center;    
    flex-direction: column;

    background-color: var(--ColorFour);
    min-height: 5rem;
    > img{
        width: 100px;
    }
    > nav{
        background-color: var(--ColorOne);
        width: 100%;

        display: flex;
        justify-content: center;    
        > ul{
            display: flex;
            list-style: none;
            > li{
                display: flex;
                padding: 0 1rem;
            }
        }
    }
}

.dropdown{
    position: relative;
    display: inline-block;
    color: white;
    padding: 0 1rem;
}

.dropdown:hover .dropdownContent{
    display: block;
}

.dropdownContent{
    > ul{
        list-style: none;
    }
    display: none;
    position: absolute;
    background-color: var(--ColorTwo);
}

