header{
    display: flex;
    align-items: center;    
    flex-direction: column;

    background-color: var(--ColorFour);
    min-height: 5rem;
    > img{
        width: 200px;
    }
    > nav{
        background-color: var(--ColorOne);
        width: 100%;

        display: flex;
        justify-content: center;    
        > ul{
            display: flex;
            list-style: none;
            > li{
                border-left: 1px solid white;
                padding: 0 1rem;
                color: white
            }
            > li:last-child{
                border-right: 1px solid white;
            }
        }
    }
}

.dropdown{
    position: relative;
    display: inline-block;
    border-left: 1px solid white;
    color: white;
    padding: 0 1rem;
}

.dropdown:last-child{
    border-right: 1px solid white;
}

.dropdown:hover .dropdownContent{
    display: block;
    left: 0;
    width: 200px;
}

.dropdownContent{
    > ul{
        list-style: none;
        padding: 0.2rem 0.3rem;
    }
    > ul li:hover{
        background-color: var(--ColorTwo);
    }
    display: none;
    position: absolute;
    background-color: var(--ColorOne);
    z-index: 1;
}