header{
    display: flex;
    align-items: center;    
    flex-direction: column;
    background-color: var(--ColorFour);
    min-height: 5rem;
    img{
        width: 100px;
    }
    nav{
        background-color: var(--ColorOne);
        width: 100%;
        z-index: 1;

        display: flex;
        justify-content: center;    
        > ul{
            display: flex;
            list-style: none;
            > li{
                display: flex;
                padding: 0 1rem;
            }
        }
    }
}

.dropdown{
    position: relative;
    display: inline-block;
    color: white;
    padding: 0 1rem;
}

.dropdown:hover .dropdownContent{
    display: block;
}

.dropdownContent{
    > ul{
        list-style: none;
        border-bottom: 1px solid white;
        > li{
            border-top: 1px solid white;
        }
    }
    display: none;
    position: absolute;
    background-color: var(--ColorTwo);
}

.buttonConnexion{
    cursor: pointer;
    padding: 5% 0;
    margin: 0;
    height: 1.6rem;
    width: 70px;
    background-color: var(--ColorOne);
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: none;
    border-top: none;
    color: white;
    font-weight: 600;
}

.buttonConnexion:hover{
    background-color: var(--ColorTwo);
}
