.frameAccueil{
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    margin: 0 30%;
    > h1{
        text-decoration: underline;
        margin: 1rem 0;
    }
    > p{
        margin: 2rem ;
        font-weight: 600
        ;
    }
}

.texteIntroduction, .texteUnivers, .texteCreation, .texteLanceur{
    > h2{
        margin: 1rem;
    }
    > button{
        cursor: pointer;
        margin: 5%;
        padding: 2.5%;
        background-color: var(--ColorTwo);
        color: white;
        border: 1px solid white;
        font-weight: 600;
    }
}

