footer{
    display: flex;
    flex-flow: column;
    align-items: center;
    .logoButtons{
        display: flex;
        flex-flow: row;
        align-items: center;
        margin: 1rem;
        ul{
            display: flex;
            flex-flow: row;
            gap: 1.5rem;
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    color: rgb(200, 200, 200);
                    font-weight: 500;
                }
            }
        }
        .footerAll{
            display: flex;
            flex-flow: column;
            align-items: center;
            gap: 0.5rem;
        }
        img{
            width: 5rem;
            opacity: 0.5;
        };
    }

p{
        color: black;
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
    }
}

.reseaux{
    display: flex;
    flex-flow: row;
    align-items: center;
    text-decoration: none;
    gap: 2rem;
    color: rgb(200, 200, 200);
    font-size: 1.5rem;
    a{
        color: rgb(200, 200, 200);
    }
}
