.connexionInscription{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 10rem;
    justify-content: center;
}

.connexion, .inscription{
    display: flex;
    flex-flow: column;
    padding: 2rem;
    height: fit-content;
    gap: 0.7rem;
    text-align: center;
    > h2{
        margin-bottom: 2rem;
        text-decoration: underline;
    }
    > button{
        cursor: pointer;
        font-weight: 700;
        margin: 1rem;
        padding: 0.5rem;
        border: 2px solid white;
        background-color: #625454;
        color: white;
    }
}

.sousligne{
    text-decoration: underline;
}