.connexionInscription{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 10rem;
    justify-content: center;
}

.connexion, .inscription{
    display: flex;
    flex-flow: column;
    padding: 2rem;
    height: fit-content;
    gap: 0.7rem;
    text-align: center;
    align-items: center;
    > h2{
        margin-bottom: 2rem;
        text-decoration: underline;
    }
    > input{
        border: none;
        width: 10rem;
        height: 1.5rem;
    }
    > span{
        font-size: small;
        border: 1px solid red;
        padding: 0.2rem;
    }
}

.sousligne{
    text-decoration: underline;
}